body {
    margin: 0;
    padding: 0;
    overflow: hidden; 
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}
#canvas-container {
    position: fixed; 
    top: 100; 
    left: 0; 
    width: 100vw;
    height: 50vh; 
    z-index: 1;
    pointer-events: none;
}
#button-container {
    position: fixed; top: 20px; left: 20px; z-index: 2;
}
#back {
    position: absolute;
    display: inline-block;
    letter-spacing: 1px;
    margin: 15px;
    padding: 15px;
    border: solid 2px black;
    border-color: white;
    border-radius: 3px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    text-decoration: false;
    font-family: monospace;
    width: 100px;
}

#back:hover {
    color: black;
    background-color: white;
    -webkit-box-shadow:0px 0px 105px 45px rgba(45,255,196,0.9);
    -moz-box-shadow: 0px 0px 105px 45px rgba(45,255,196,0.9);
    box-shadow: 0px 0px 105px 45px rgba(45,255,196,0.9);
}

#load {
    position: absolute;
    top: calc(40%);
    right: calc(47%);
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

html {
    height: 100%;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  }

 