* {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


canvas {
    position: fixed;
    top: 0;
    left: 0;
}

main {
    position: absolute;    
}
body{
    overflow-x: hidden;
}

h1 {
    color: wheat;
}

.containers {
    position: absolute;
    font-size: 14px;
    line-height: 1.5;
}

.planets {
    overflow: scroll;
    height: 100vh;
    width: 100vw;
}

#quadrant_1A, #quadrant_2A, #quadrant_3A {
    color: white;
    width: 300px;
    padding: 20px;
    background: rgba(231, 9, 9, 0.7);
    border-radius: 10px;
    margin-bottom: 20px;
}

#quadrant_1A {
    position: relative;
    top: 10%;
    left: 10%;
}
#quadrant_2A {
    position: relative;
    top: 10%;
    left: 10%;
}

#quadrant_3A {
    position: relative;
    top: 10%;
    left: 250%;
}



