* {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


canvas {
    position: fixed;
    top: 0;
    left: 0;
}

main {
    position:absolute
}
h1{
    color: white;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(1030%, 200%);
}
.containers {
    position: absolute;
    font-size: 14px;
    line-height: 1.5;
}
.earth_desc-left {
    position: absolute;
    top: 20%;
    left: 5%;
}

.earth_desc-right {
    position: absolute;
    top: 20%;
    right: 5%;
}

#quadrant_1A, #quadrant_2A, #quadrant_3B {
    color: white;
    width: 300px;
    padding: 20px;
    background: rgba(231, 9, 9, 0.7);
    border-radius: 10px;
    margin-bottom: 20px;
}

#quadrant_1A {
    transform: translate(20%, 60%);
}

#quadrant_2A {
    transform: translate(20%, 80%);
}

#quadrant_3B {
    transform: translate(0, 0);
}

